<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card w-50">
    <div class="card-header text-muted">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <!-- Name -->
        <div class="form-group">
          <%= f.label :name, class: 'text-muted' %>
          <%= f.text_field :name, autofocus: true, autocomplete: "username", class: 'form-control' %>
        </div>

        <!-- Profile Image Upload and Preview -->
        <div class="form-group">
          <%= f.label :profile_image, class: 'text-muted' %>
          <%= f.file_field :profile_image, class: 'form-control-file', id: 'profileImage' %>
        </div>

        <!-- Current Password -->
        <div class="form-group">
          <%= f.label :current_password, class: 'text-muted' %>
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
          <small class="form-text text-muted">For account security, please enter your current password to make changes.</small>
        </div>

        <div class="form-group">
          <%= f.submit "Update", class: 'btn btn-dark' %>
        </div>
      <% end %>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between">
      <div>
         <%= link_to "Back", :back, class: 'btn btn-secondary text-muted' %>
      </div>
      <div>
         <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn btn-dark' %>
      </div>
    </div>
  </div>
</div>
