<% if user_signed_in? %>
  <div class="bg-light p-3 border rounded">
    <div class="text-center">
      <% if current_user.profile_image.present? %>
        <%= link_to image_tag(current_user.profile_image, class: "rounded-circle shadow mb-3", style: "width: 150px; height: 150px;"), user_path(current_user) %>
      <% else %>
        <%= link_to image_tag('defaultuser.png', class: "rounded-circle shadow mb-3", style: "width: 150px; height: 150px;"), user_path(current_user) %>
      <% end %>
      <h2 class="text-dark"><%= current_user.name %></h2>
      <p class="text-secondary">フォロー: <%= current_user.following.count %> | フォロワー: <%= current_user.followers.count %></p>
      <div>
        <%= link_to 'プロフィールを編集', edit_user_registration_path, class: "btn btn-outline-dark btn-sm" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="bg-light p-3 border rounded text-center">
    <p class="mb-3">ログインしていません</p>
    <%= link_to 'ログイン', new_user_session_path, class: "btn btn-outline-dark btn-sm" %>
    <%= link_to '新規登録', new_user_registration_path, class: "btn btn-outline-dark btn-sm ml-2" %>
  </div>
<% end %>
