<div class="content-section" id="follow">
  <h2>Following Users</h2>
  <% if user_signed_in? %>
    <ul class="list-group">
      <% if @following.any? %>
        <% @following.each do |user| %>
          <li class="list-group-item d-flex align-items-center">
            <% if user.profile_image.present? %>
              <%= image_tag user.profile_image.url, size: "50x50", class: "rounded-circle me-3" %>
            <% else %>
              <%= image_tag 'defaultuser.png', size: "50x50", class: "rounded-circle me-3" %>
            <% end %>
            <div class="d-flex flex-column">
              <%= link_to user.name, user_path(user), class: "font-weight-bold text-decoration-none text-dark" %>
              <small class="text-muted">
                Following: <%= user.following.count %> | Followers: <%= user.followers.count %>
              </small>
            </div>
          </li>
        <% end %>
      <% else %>
        <p>フォローしているユーザーはいません</p>
      <% end %>
    </ul>
  <% else %>
    <p>You need to sign in to see the people you are following.</p>
  <% end %>
</div>
