<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, required: true %>
  </div>

  <div class="field">
    <%= form.label :spot_name %>
    <%= text_field_tag 'map[spot_name]' %>
  </div>

  <div class="field">
    <%= form.label :snap %>
    <%= form.file_field :snap%>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
