<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% if @post.user.profile_image.present? %>
        <%= image_tag @post.user.profile_image.url, class: 'img-fluid rounded-circle' %>
      <% else %>
        <%= image_tag 'defaultuser.png', class: 'img-fluid rounded-circle' %>
      <% end %>
    </div>
    <div class="col-md-8">
      <p>
        <%= link_to @post.user.name, user_path(@post.user), class: 'font-weight-bold text-decoration-none' %>
      </p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <% if @post.snap.present? %>
        <%= image_tag @post.snap.url, class: 'img-fluid' %>
      <% else %>
        <h1 class="text-center">No Image Available</h1>
      <% end %>
      <p class="mt-3"><%= @post.body %></p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <%= render partial: 'likes/like', locals: { post: @post } %>
    </div>
  </div>

<div class="row mt-4">
  <div class="col-md-12">
   <%= render partial: 'comments/form', locals: { post: @post } %>

  </div>
</div>
<div class="comments-section">
  <div class="row mt-4">
  <div class="col-md-12">
    <% @comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: { comment: comment, replies: comment.replies, post: @post } %>
    <% end %>
  </div>
</div>
</div>

<%= link_to '通報する', new_report_path(reporter_id: current_user.id, user_id: @post.user_id, post_id: @post.id) %>

  <div class="row mt-4">
    <div class="col-md-12">
      <% if user_signed_in? && current_user == @post.user %>
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-secondary me-2' %> |
    <% end %>
      <%= link_to 'Back', root_path , data: {"turbolinks" => false}, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
