<!DOCTYPE html>
<html>
  <head>
    <title>WonderSnap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'maps' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUFgWwu57R50ATnJ6zmPeO3Xuphjn620w&callback=initMap"></script>
    <script src="https://kit.fontawesome.com/079d0f24e7.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <header> <%= render 'layouts/header' %></header>
    <main style="min-height: 55vh;">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %> cake-font">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
    </main>
   <footer><%= render 'layouts/footer' %></footer>
  </body>
</html>
